[submodule "Engine/External/spdlog"]
	path = Engine/External/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "Engine/External/GLFW"]
	path = Engine/External/GLFW
	url = git@github.com:glfw/glfw.git
[submodule "Engine/External/imgui"]
	path = Engine/External/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "Engine/External/glm"]
	path = Engine/External/glm
	url = git@github.com:g-truc/glm.git
